<form action="/cart/add-product" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit" class="btn btn-primary">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>" />
</form>