.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-element {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #444444;
}
.form-element input,
.form-element textarea {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.5rem;
    margin-top: 5px;
}
a.btn {
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    color: #3d4756;
}
a.btn:active {
    color: #3d4756;
}
a.btn-primary,
a.btn-danger {
    color: white;
}
a.btn-primary:active,
a.btn-danger:active {
    color: white;
}
button.btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.9em;
}
.btn {
    margin: 0 0.5rem;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out;
}
.btn:hover {
    background-color: #f6f6f6;
    border-color: #d6d6d6;
}
.btn-primary {
    background-color: #0070d2;
    border: 1px solid #0070d2;
    color: white;
}
.btn-primary:hover {
    background-color: #005fb2;
    border: 1px solid #005fb2;
}
.btn-danger {
    background-color: #c23934;
    border: 1px solid #c23934;
    color: white;
}
.btn-danger:hover {
    background-color: #a61a14;
    border: 1px solid #a61a14;
}