@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.main-container {
    margin: 5rem auto 0;
    padding: 0;
    width: 80%
}
.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 4rem;
    background-color: #f7f8fa;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 2px solid #d6d6d6;
    box-shadow: 0 5px 10px #efefef;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.nav-logo h2 {
    margin: 0;
    color: #29303b;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.navbar li {
    margin-left: 0.5rem;
}
.navbar a {
    text-decoration: none;
    color: #3d4756;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 1rem;
    display: block;
}
.navbar a.active {
    color: #0070d2;
    border-bottom: 4px solid #0070d2;
    background-color: #f0f0f0;
}
.navbar button {
    border: none;
    outline: none;
    background: none;
    font-size: 1em;
    padding: 0;
    cursor: pointer;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.item-card {
    border: 1px solid #efefef;
    border-radius: 3px;
    height: 23rem;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.15s ease-in-out;
}
.item-card:hover {
    box-shadow: 0 3px 10px #dddddd;
}
.card-header {
    padding: 0.75rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.card-header span:nth-child(1) {
    width: 11rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-image {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image img {
    max-width: 100%;
    max-height: 100%;
}
.card-body {
    margin: 0;
    padding: 0.5rem 0.75rem 0;
    flex: 1;
    overflow: hidden;
    line-height: 1.3;
}
.card-footer {
    padding: 0.75rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.pg-msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem 0 5rem;
    color: darkslategray;
}
.pg-msg-container h1 {
    font-size: 7em;
    padding: 0;
    margin: 0;
}
.pg-msg-container h3 {
    font-size: 2em;
}
.add-product-card {
    background-color: #0070d2;
    align-items: center;
    position: relative;
}
.add-product-card div {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
}
.add-product-card h3 {
    margin-top: 0;
    color: #e8f1ff;
}
.add-product-card a {
    display: block;
    margin: 0 auto;
    background: #e8f1ff;
    border-radius: 50%;
    line-height: 1.15;
    text-decoration: none;
    font-size: 3em;
    height: 4rem;
    width: 4rem;
    color: #0070d2;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
}
.add-product-card a:hover {
    box-shadow: 0 0 10px white;
}
.add-product-card a:active {
    color: #0070d2;
}
.details-block {
    width: 100%;
    display: flex;
    justify-content: center;
}
.details-block img {
    height: 15rem;
    width: auto;
    margin-right: 1rem;
}
.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}
.list-container {
    padding: 0;
    list-style: none;
    width: 70%;
    margin: 0 auto;
}
.list-item {
    border: 1px solid #efefef;
    border-radius: 3px;
    padding: 0.5rem 2rem;
    margin-top: 0.75rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.list-item:hover {
    background-color: #fafafa;
    box-shadow: 0 3px 10px #dddddd;
}
.list-item .btn {
    margin: 0;
}
.list-item h4 {
    margin: 0 0 0.5rem 0;
}
.list-item span,
.list-item ul {
    color: #888888;
    list-style: none;
}
.separator {
    margin: 2rem 0;
    height: 2px;
    background: #d4d4d4;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #d4d4d4));
}