<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main class="main-container">
        <div class="pg-msg-container">
            <h3>Product detail page - <%= product.title %></h3>
        </div>
    </main>
<%- include('../includes/end.ejs') %>