<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main class="main-container">
        <div class="pg-msg-container">
            <h3>cart page</h3>
            <a class="btn" href="/checkout">Checkout</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>